.parentCard {
  /* border: 1px solid red; */
  display: flex;
  gap: 1rem;
  justify-content: center;
  gap: 4rem;
}

.rightCard {
  /* border: 1px solid green; */
  margin-top: 5rem;
  width: 30%;
}

.paraTag {
  font-size: 18px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.card .para {
  font-size: 1em;
  color: #333;
}

.main:hover .card {
  background-color: orange;
}

.main .card:hover {
  background-color: white;
}
